 
/* Custom css */
.pnw_content-tab-2 table  {
    width:100% !important; 
} 
.pnw_buttons {
	background: ##d7090a; 
	color:white;
} 

.switch-label-on {
	border: 2px solid #ffffff;
	background-color: #be0000;
	border-radius: 5px;
	opacity: 1;
	color: white;
	font-size: 16px;
}

.switch-label-on:hover {
	background-color: #c72c2c !important;
}

/* 
.switch-label { 
	padding-right:2px;
	border: 1px solid #be0000;
	opacity: 1;
	background-color: #dadada;
	border-radius: 5px; 
}
*/

input#bigbutton {
	padding: 15px 15px !important;
}

.switch-field input:checked+label {
	background-color: #be0000;
	color: white; 
}


.preloader {
	/*margin-bottom:30px;*/
	/*height: 563px !important;*/
	/*width: 770px;*/
	display: none;
	position: absolute; 
	z-index:5;
	opacity:0.7;
	margin-left:90px; 
	margin-top:10px;
}

.preloader img { 
	/*	margin-left:350px;
	margin-top:250px; */
	width:50%;

}  



#pnw-save-domain-loader {
	margin-bottom:10px;
}


.image-icon-online-offline {
	/*border:1px solid red;*/
}


.image-icon-online-offline img{
	padding:5px;
}

